<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Burger</title>
</head>
<body>
  <div>
      <h1>make a burger</h1>
      <form action="/users" method='post' >
      <div>
        <label for='email' > Email</label>
        <input type='text' name='email'/>
      </div>
      <div>
        <label for='password' > password</label>
        <input type='text' name='password'/>
      </div>
      <div>
        <input type='submit' name='submit'/>
      </div>
      </form>
    </div>
</body>
</html>
